#####################################################
###### Selenium Configuration
#####################################################
SELENIUM_HUB_CONTAINER_NAME=selenium-hub
SELENIUM_HUB_HOST=${SELENIUM_HUB_CONTAINER_NAME}
SELENIUM_HUB_PORT=4444

#####################################################
###### Selenoid Configuration
#####################################################
SELENOID_HUB_CONTAINER_NAME=selenoid-hub
SELENOID_HUB_HOST=${SELENOID_HUB_CONTAINER_NAME}
SELENOID_HUB_PORT=4444

#####################################################
###### App Configuration
#####################################################
APP_IMAGE_NAME=app-rest-api
APP_IMAGE_TAG=latest
APP_CONTAINER_NAME=app

#####################################################
###### Test App Configuration
#####################################################
TEST_APP_IMAGE_NAME=test-app-rest-api
TEST_APP_IMAGE_TAG=latest
TEST_APP_CONTAINER_NAME=test-app

#CONFIG_DIR=src/main/resources
CONFIG_APP_SCHEME=http
CONFIG_APP_HOST=${APP_CONTAINER_NAME}
CONFIG_APP_PATH=api/v1/templates
CONFIG_APP_PORT=5000
CONFIG_TEMPLATES_DIR=/data/templates
CONFIG_JAVA_ARGS="--tags @rest-api"
#JAVA_OPTS="-Dselenide.browser=firefox -Dselenide.remote=http://${SELENIUM_HUB_HOST}:${SELENIUM_HUB_PORT}/wd/hub"
#JAVA_OPTS="-Dselenide.browser=chrome -Dselenide.remote=http://${SELENOID_HUB_HOST}:${SELENOID_HUB_PORT}/wd/hub"
JAVA_OPTS=