#####################################################
###### App Configuration
#####################################################
APP_CONTAINER_NAME=app
APP_HOST=${APP_CONTAINER_NAME}
APP_PORT=5000
APP_IMAGE_NAME=app-rest-api
APP_IMAGE_TAG=latest

#####################################################
###### Test app Configuration
#####################################################
TEST_APP_CONTAINER_NAME=test-app
TEST_APP_IMAGE_NAME=test-app-rest-api
TEST_APP_IMAGE_TAG=latest
TARGET_APP_HOST=http://${APP_HOST}:${APP_PORT}/
