lombok.accessors.chain=false
config.stopbubbling=true
lombok.addLombokGeneratedAnnotation=true
lombok.addJavaxGeneratedAnnotation=false
lombok.extern.findbugs.addSuppressFBWarnings=false
lombok.nonnull.exceptiontype=IllegalArgumentException
lombok.noargsconstructor.extraprivate=false
lombok.anyconstructor.addconstructorproperties=true
lombok.anyconstructor.suppressconstructorproperties=true
lombok.fielddefaults.defaultprivate=true
lombok.fielddefaults.defaultfinal=false
lombok.equalsandhashcode.callsuper=call
lombok.tostring.callsuper=call
lombok.log.fieldname=log
